@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2c2c3c;
    font-family: 'Asap', sans-serif;
}

.header-quote {
    height: 60px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 20px #36d8e4;
}

section {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    max-width: 400px;
}

.progress-bar {
    width: 40px;
    height: 90%;
    background-color: #237563;
    border-radius: 50px;
    position: relative;
}

.progress-bar #indicator {
    width: 100%;
    height: auto;
    background-color: #70d4be;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
}

.info {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info .num {
    color: #bb76fc;
    font-weight: 700;
    font-size: 48px;
    margin-right: 10px;
}

.info .sub-text {
    color: #cf6679;
    font-weight: 500;
    font-size: 24px;
}